extends ../layouts/empty/empty

block params
  - var title = "List group";

block content
  .container
    h1= title

    h2
      | Basic example

    .list-group
      a(href='').list-group-item.list-group-item-action.active
        | Text
      a(href='').list-group-item.list-group-item-action
        | Text
      a(href='').list-group-item.list-group-item-action
        | Text
      a(href='').list-group-item.list-group-item-action
        | Text
      a(href='').list-group-item.list-group-item-action.disabled
        | Text

    h2
      | With icons

    .list-group(style='max-width: 320px; padding-bottom: 16px;')
      a(href='').list-group-item.list-group-item-action.d-flex.align-items-center.active
        +svg-icon('at')(class='icon-black-200')
        .list-group-item-text.text-truncate
          | Text
      a(href='').list-group-item.list-group-item-action.d-flex.align-items-center
        +svg-icon('advert')(class='icon-black-200')
        .list-group-item-text.text-truncate
          | Teeeeeeeeeeeeeeeeeext veryyyy long
      a(href='').list-group-item.list-group-item-action.d-flex.align-items-center
        +svg-icon('calendar')(class='icon-black-200')
        .list-group-item-text.text-truncate
          | Text
      a(href='').list-group-item.list-group-item-action.d-flex.align-items-center
        +svg-icon('clock')(class='icon-black-200')
        .list-group-item-text.text-truncate
          | Text
      a(href='').list-group-item.list-group-item-action.d-flex.align-items-center.disabled
        +svg-icon('exit')(class='icon-black-200')
        .list-group-item-text.text-truncate
          | Text

  div(style="background-color: #313131; padding: 16px 0 24px;")
    .container
      h2.text-white
        | Light color

      .list-group(style='max-width: 320px;')
        a(href='').list-group-item.list-group-item-light.list-group-item-action.d-flex.align-items-center.active
          +svg-icon('at')(class='icon-light')
          .list-group-item-text.text-truncate
            | Text
        a(href='').list-group-item.list-group-item-light.list-group-item-action.d-flex.align-items-center
          +svg-icon('advert')(class='icon-light')
          .list-group-item-text.text-truncate
            | Teeeeeeeeeeeeeeeeeext veryyyy long
        a(href='').list-group-item.list-group-item-light.list-group-item-action.d-flex.align-items-center
          +svg-icon('calendar')(class='icon-light')
          .list-group-item-text.text-truncate
            | Text
        a(href='').list-group-item.list-group-item-light.list-group-item-action.d-flex.align-items-center
          +svg-icon('clock')(class='icon-light')
          .list-group-item-text.text-truncate
            | Text
        a(href='').list-group-item.list-group-item-light.list-group-item-action.d-flex.align-items-center.disabled
          +svg-icon('exit')(class='icon-light')
          .list-group-item-text.text-truncate
            | Text


  div(style="padding: 16px 0 24px;")
    .container
      h2
        | Text right

      .list-group(style='max-width: 320px; padding-bottom: 16px;')
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.active
          +svg-icon('vip')(class='icon-black-200')
          .list-group-item-text.text-truncate
            | VIP активен
          span.small
            | Еще 8500 дней
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
          +svg-icon('advert')(class='icon-black-200')
          .list-group-item-text.text-truncate
            | Teeeeeeeeeeeeeeeeeext veryyyy long
          span.small
            | text
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
          +svg-icon('desktop')(class='icon-black-200')
          .list-group-item-text.text-truncate
            | Рабочий стол
          span.badge
            | NEW
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
          +svg-icon('clock')(class='icon-black-200')
          .list-group-item-text.text-truncate
            | Text
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.disabled
          +svg-icon('exit')(class='icon-black-200')
          .list-group-item-text.text-truncate
            | Text
        a(href='').list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.disabled
          div
            img(src='../img/avatar.jpg').img-fluid
          .list-group-item-text.text-truncate
            | Рабочий стол
          span.small
            | 1
