doctype html
html
    include ../_head
    title Шаблон personal 2018
    body.new-boss.js-new-menu.no-touchevents
        include ../_header
        include ../_menu
        #wrap.js-wrap
            #main
                .app.leads_block
            include ../_footer