.beboss-footer
    .beboss-footer__main
        .container
            .beboss-footer__main-top
                a(href="#").beboss-footer__logo-container
                    .beboss-footer__logo-icon
                        i.icon-logo-3
                    .beboss-footer__logo-text
                        | БИБОСС
                .beboss-footer__item.beboss-footer__item_control
                    a(href="#").bf-item
                        .bf-item__icon
                            i.icon-24_white_lightning
                        .bf-item__text
                            | Управление
            .beboss-footer__main-bottom
                .beboss-footer__col
                    .beboss-footer__subtitle
                        | Разделы
                    ul.beboss-footer__menu
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_community
                                .bf-item__text
                                    | Сообщество
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_qa
                                .bf-item__text
                                    | Вопросы и ответы
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_kn
                                .bf-item__text
                                    | Коммерческая недвижимость
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_fr
                                .bf-item__text
                                    | Франшизы
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_gb
                                .bf-item__text
                                    | Готовый бизнес
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_opt
                                .bf-item__text
                                    | Оптовые предложения
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_invest
                                .bf-item__text
                                    | Инвестпроекты
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_idea
                                .bf-item__text
                                    | Бизнес-идеи
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_bplan
                                .bf-item__text
                                    | Бизнес-планы
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_req
                                .bf-item__text
                                    | Заявки
                .beboss-footer__col
                    .beboss-footer__subtitle
                        | Проекты
                    ul.beboss-footer__menu
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Бизнес-журнал
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Календарь мероприятий
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Рейтинг франшиз
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Рейтинг торговых центров
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Франчайзинговая премия
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Как начать бизнес
                .beboss-footer__col
                    .beboss-footer__subtitle
                        | Бибосс
                    ul.beboss-footer__menu
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | О портале
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Блоги пользователей
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Отзывы о нас
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Рекламные услуги
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Работа у нас
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Книги
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__text
                                    | Контактные данные

                .beboss-footer__soc-container
                    .beboss-footer__subtitle
                        | Соцсети
                    ul.beboss-footer__menu.beboss-footer__menu_soc
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_fb
                                .bf-item__text
                                    | Facebook
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_vk
                                .bf-item__text
                                    | Вконтакте
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_tg
                                .bf-item__text
                                    | Телеграм
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_inst
                                .bf-item__text
                                    | Instagram
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_yt
                                .bf-item__text
                                    | Youtube
                        li.beboss-footer__item
                            a(href="#").bf-item
                                .bf-item__icon
                                    i.icon-24_white_ok
                                .bf-item__text
                                    | Одноклассники
                .beboss-footer__btn-container
                    .beboss-footer__btn
                        a(href="#").button.white.full
                            .bf-item
                                .bf-item__icon
                                    i.icon-24_white_tg
                                .bf-item__text
                                    | Чат предпринимателей
                    .beboss-footer__btn
                        a(href="#").button.white.full
                            .bf-item
                                .bf-item__icon
                                    i.icon-24_white_iphone
                                .bf-item__text
                                    | Мобильное приложение
                    .beboss-footer__btn
                        a(href="#support").button.white.full.js-modal-support
                            .bf-item
                                .bf-item__icon
                                    i.icon-24_white_help_center
                                .bf-item__text
                                    | Служба поддержки

    .beboss-footer__bottom
        .container
            .beboss-footer__bottom-container
                .beboss-footer__bottom-subtitle
                    .beboss-footer__subtitle
                        | Другие страны
                .beboss-footer__country-container
                    .beboss-footer__country
                        a(href="#").bf-item
                            .bf-item__icon
                                img(src="https://www.beboss.pro/img/footer/Ukraina.jpg")
                            .bf-item__text
                                | Украина
                    .beboss-footer__country
                        a(href="#").bf-item
                            .bf-item__icon
                                img(src="https://www.beboss.pro/img/footer/Kazakhstan.jpg")
                            .bf-item__text
                                | Казахстан
                    .beboss-footer__country
                        a(href="#").bf-item
                            .bf-item__icon
                                img(src="https://www.beboss.pro/img/footer/Belarus.jpg")
                            .bf-item__text
                                | Белоруссия

                .beboss-footer__copyright
                    .bf-item
                        .bf-item__text
                            | © БИБОСС 2006-2018
                    .beboss-footer__li
                        a(href="#")
                            img(src="//counter.yadro.ru/logo;BeBossru?57.1" alt="LiveInternet: показано число просмотров и посетителей за 24 часа")
#support.modal-support.mfp-hide
    .modal-support__btn-close.js-modal-support__btn-close
        i.icon-24_black_close
    .modal-support__main.bk-support
        .bk-support__title
            | Служба поддержки
        .bk-support__text
            | Выберите удобный для себя способ связи
        .bk-support__info-list
            .bk-support__info-item
                .bk-support-item
                    .bk-support-item__icon.bk-support-item__icon_blue
                        i.icon-24_black_phone.opacity02
                    .bk-support-item__text-container
                        .bk-support-item__title
                            | 8 800 555-08-50
                        .bk-support-item__text
                            | Для звонков по России
            .bk-support__info-item
                .bk-support-item
                    .bk-support-item__icon.bk-support-item__icon_green
                        i.icon-24_black_iphone.opacity02
                    .bk-support-item__text-container
                        .bk-support-item__title
                            | +7 962 553-50-34
                        .bk-support-item__text
                            | Международные звонки
                    .bk-support-item__img-container
                        .bk-support-item__img
                            i.icon-40_color_telegram
                        .bk-support-item__img
                            i.icon-40_color_whatsapp
                        .bk-support-item__img
                            i.icon-40_color_viber
            .bk-support__info-item
                .bk-support-item
                    .bk-support-item__icon.bk-support-item__icon_orange
                        i.icon-24_black_clock.opacity02
                    .bk-support-item__text-container
                        .bk-support-item__title
                            | 9:00 – 18:00 МСК
                        .bk-support-item__text
                            | Понедельник – пятница
        .bk-support__method-container
            .bk-support__method-item
                .bk-support-method.bk-support-method_call
                    .bk-support-method__title
                        | Заказать звонок
                    .bk-support-method__subtitle
                        | Мы вам перезвоним
            .bk-support__method-item
                .bk-support-method.bk-support-method_mes
                    .bk-support-method__title
                        | Написать сообщение
                    .bk-support-method__subtitle
                        | Письменный вопрос
        .bk-support__title.bk-support__title_pl
            .bk-support__btn-back
            | Заказать звонок
        .bk-support__text
            | Оставьте свои контакты, и мы свяжемся с Вами в удобное для Вас время
        .bk-support__form
            form
                .bk-support-form
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Представьтесь *
                            .bk-support-form__input-container
                                .bk-support-form__input
                                    input.bk-input-text.bk-input-text_h-50.bk-input-text_full(placeholder="Ваше имя")
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Номер телефона*
                            .bk-support-form__input-container
                                .bk-support-form__input
                                    input.bk-input-text.bk-input-text_h-50.bk-input-text_full(placeholder="+7 (___) ___-__-__")
                    .bk-support-form__item
                        .bk-support-form__label
                            .bk-support-form__caption
                                | Удобное время (МСК)*
                            .bk-support-form__input-container
                                .bk-support-form__input
                                    .bk-select-container
                                        select.bk-select.bk-select_h-50
                                            option()
                                                | 1111111
                                            option
                                                | 2222222
                                            option
                                                | 3333333
                                            option
                                                | 4444444
                                            option
                                                | 5555555
                                        .bk-select-container__arrow
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Описание вопроса
                            .bk-support-form__input-container
                                .bk-support-form__textarea
                                    textarea.bk-textarea.bk-textarea_full
                    .bk-support-form__item
                        .bk-support-form__label
                            .bk-support-form__caption
                            .bk-support-form__input-container
                                .bk-support-form__captcha
                                    .bk-captcha.bk-captcha_check.bk-captcha_full
                                        .bk-captcha__check-container
                                            label.bk-captcha__check-item.js-bk-captcha__check-item
                                                .bk-captcha__check-icon-container
                                                    input(type='checkbox').bk-captcha__input-check.js-bk-captcha__input-check
                                                    .bk-captcha__check-icon.js-bk-captcha__check-icon
                                                .bk-captcha__check-text
                                                    | Я не робот
                                        .bk-captcha__text-container
                                            .bk-captcha__text
                                                | Проверка
                                                br
                                                | безопасности
                    .bk-support-form__item
                        .bk-support-form__label
                            .bk-support-form__caption
                            .bk-support-form__input-container
                                .bk-support-form__btn
                                    button.button.green.paint.high.bold.important
                                        | Отправить заявку
        .bk-support__title.bk-support__title_pl
            .bk-support__btn-back
            span.hide-sm-up
                | Сообщение
            span.hide-xs-only
                | Написать сообщение
        .bk-support__text
            | Ответ на свой вопрос Вы получите на электронную почту
        .bk-support__form
            form
                .bk-support-form
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Представьтесь *
                            .bk-support-form__input-container
                                .bk-support-form__input
                                    input.bk-input-text.bk-input-text_h-50.bk-input-text_full(placeholder="Ваше имя")
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Email*
                            .bk-support-form__input-container
                                .bk-support-form__input
                                    input.bk-input-text.bk-input-text_h-50.bk-input-text_full(placeholder="Для связи с Вами" type="email")
                    .bk-support-form__item
                        label.bk-support-form__label
                            .bk-support-form__caption
                                | Описание вопроса*
                            .bk-support-form__input-container
                                .bk-support-form__textarea
                                    textarea.bk-textarea.bk-textarea_full