head
    title БиБосс.ру
    meta(charset='utf8')
    meta(name='keywords', content='')
    meta(name='description', content='')

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0")
    link(rel="stylesheet" href="/temp_css/old/style-top.css")
    link(rel="stylesheet" href="/temp_css/old/style-bottom.css")
