.beboss-menu.beboss-menu_main.js-beboss-main-menu.baron.baron__root.baron__clipper._macosx._scrollbar
    .beboss-menu__container.js-beboss-main-menu-container.baron__scroller
        .beboss-menu__search-container
            form
                .main-search
                    label.main-search__label.bk-input-text-container.js-main-search-label
                        //input.bk-input-text.bk-input-text_ac-on.main-search__input.js-main-search-input(placeholder="Поиск")
                        input.bk-input-text.main-search__input.js-main-search-input(placeholder="Поиск")
                        .main-search-autocomplete.bk-input-autocomplete
                            .bk-input-autocomplete__item
                                | test 1
                            .bk-input-autocomplete__item
                                | test 2
                            .bk-input-autocomplete__item
                                | test 3
                            .bk-input-autocomplete__item
                                | test 4
                            .bk-input-autocomplete__item
                                | test 5
                            .bk-input-autocomplete__item
                                | test 6
                        button.main-search__btn.bk-form-elem-btn.js-main-search__btn
                            i.icon-24_green_arrow_right.opacity05
                        .main-search__icon.bk-form-elem-icon
                            .bk-icon-n.bk-icon-h.icon-24_black_loupe.opacity02
                            .bk-icon-f.icon-24_lightgreen_loupe
        .beboss-menu__block.hide-md-plus-up
            a(href="#city-selection").beboss-menu__item.beboss-menu__item_city-selection.js-city-selection
                .beboss-menu__item-icon
                    i.icon-24_black_map_pin
                .beboss-menu__item-text
                    | Петропавловск-Камчатский
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_plus
                .beboss-menu__item-text
                    | Добавить
        .beboss-menu__separator
        .beboss-menu__block
            a(href="https://www.beboss.ru/").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_community
                .beboss-menu__item-text
                    | Сообщество
            a(href="https://www.beboss.ru/").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_qa
                .beboss-menu__item-text
                    | Вопросы и ответы
                    span.beboss-menu__item-mark
                        | NEW
            a(href="#").beboss-menu__item.beboss-menu__item_active
                .beboss-menu__item-icon
                    i.icon-24_black_kn
                .beboss-menu__item-text
                    | Коммерческая недвижимость
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_fr
                .beboss-menu__item-text
                    | Франшизы
            a(href="https://www.beboss.ru/").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_gb
                .beboss-menu__item-text
                    | Готовый бизнес
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_opt
                .beboss-menu__item-text
                    | Оптовые предложения
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_invest
                .beboss-menu__item-text
                    | Инвестпроекты
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_idea
                .beboss-menu__item-text
                    | Бизнес-идеи
            a(href="#").beboss-menu__item
                .beboss-menu__item-icon
                    i.icon-24_black_bplan
                .beboss-menu__item-text
                    | Бизнес-планы

        .beboss-menu__poster
            .beboss-menu-poster__body
                .beboss-menu-poster__item
                    a(href="#").beboss-menu-poster__hover
                        .beboss-menu-poster__img
                            img(src="https://www.beboss.pro/listings/fr/2068/frv6PkzT.jpg")
                        .beboss-menu-poster__title
                            | ЦирюльникЪ
                        .beboss-menu-poster__text
                            | Федеральная сеть салонов красоты
                .beboss-menu-poster__item
                    a(href="#").beboss-menu-poster__hover
                        .beboss-menu-poster__img
                            img(src="https://www.beboss.pro/listings/kn/749/premHTamVA.jpg")
                        .beboss-menu-poster__title
                            | Торговый центр ГУМ
                        .beboss-menu-poster__text
                            | Общая площадь: 80 000м²
                        .beboss-menu-poster__text
                            | Арендные площади: 30 – 1 500...
                .beboss-menu-poster__item.m-mt10
                    a(href="#").beboss-menu-poster__hover.glob-link
                        | Реклама здесь
    .baron__track
        .baron__free
            .js-beboss-main-menu-scrollbar.baron__bar
